<div class="container">
  <h2>All Donations</h2>
  <table class="donations-table">
    <thead>
      <tr>
        <th>S.No</th>
        <th>Donor Name</th>
        <th>Charity Name</th>
        <th>Amount</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="!donations || donations.length === 0">
        <td colspan="5" class="no-data">Oops! No records found.</td>
      </tr>
      <tr *ngFor="let donation of donations; index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ donation.user?.username }}</td>
        <td>{{ donation.charity?.charityName }}</td>
        <td>{{ donation.amount | currency:'INR':'symbol' }}</td>
        <td>{{ donation.donationDate | date:'MMM dd, yyyy' }}</td>
      </tr>
    </tbody>
  </table>
</div>