<nav class="navbar">
  <div class="navbar-container">
    <div class="header">
      <img src="assets/gratitude.png" width="45px" height="45px">
      <span class="site-title">Charity Connect</span>
    </div>
    <ul class="nav-links">
      <ng-container *ngIf="!isLoggedIn">
        <li><a routerLink="/register">Register</a></li>
        <li><a routerLink="/login">Login</a></li>
      </ng-container>
      <ng-container *ngIf="isLoggedIn">
        <li>
          <div class="user-info">
            <span class="user-name">{{userName}}</span>
            <span class="user-role">({{userRole}})</span>
          </div>
        </li>
        <li><a routerLink="/">Home</a></li>
        <ng-container *ngIf="userRole === 'ADMIN'">
          <app-adminnav></app-adminnav>
        </ng-container>
        <ng-container *ngIf="userRole === 'USER'">
          <app-usernav></app-usernav>
        </ng-container>
        <li>
          <button (click)="showLogoutPopup = true" class="logout-btn">Logout</button>
        </li>
      </ng-container>
    </ul>
  </div>
  <div *ngIf="showLogoutPopup" class="logout-popup">
    <div class="popup-content">
      <h3>Confirm Logout</h3>
      <p>Are you sure you want to logout?</p>
      <div class="popup-actions">
        <button (click)="logout()" class="confirm-btn">Yes, Logout</button>
        <button (click)="showLogoutPopup = false" class="cancel-btn">Cancel</button>
      </div>
    </div>
  </div>
</nav>